:host {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 10cqh;
    width: 100%;    
    padding: 1.5cqh;
    box-sizing: border-box;

    background: var(--dark-gray-background);
}

.initial-name {
    display: flex;
    align-items: center;
    justify-content: center;
    
    height: 66.66%;
    aspect-ratio: 1 / 1;
    margin-right: 1.5cqh;
    border-radius: 50%;
    
    font-size: 2.5cqh;
    color: white;
    
    background: black;
}

.header-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 1;
}

.welcome {
    font-size: 3cqh;
    font-weight: bold;
}

.cpf {
    font-size: 1.5cqh;
}

.change-account {
    margin-left: auto;
    
    height: 66.66%;
    aspect-ratio: 4 / 1;
    padding: 0 1.5cqh;
    border-radius: 8% / 32%;
    
    font-size: 2.25cqh;
    font-weight: bold;
    white-space: nowrap;
    min-width: 0;
    overflow: hidden;
}