.card-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 100%;
    padding: 4px;
    border-radius: 12px;
    
    background-color: white;
    
    container-type: size;
}

:host-context(.card--full-width) .card-container {
    aspect-ratio: 2 / 1;
}

:host-context(.card--half-width) .card-container,
:host-context(.card--third-width) .card-container {
    aspect-ratio: 1 / 1;
}

.card-svg {
    display: flex;
    flex: 0 0 33.33%;

    width: 33.33%;
    height: 33.33%;

    color: var(--dark-primary-color);
}

.card-title {
    display: flex;
    flex: 0 0 33.33%;
    align-items: flex-end;
    justify-content: flex-start;

    font-size: 16.67cqh; /*33,34 / 2*/
}