:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100vw;
    height: auto;
    max-width: calc(100vh / 2); /*aspect ratio 10:20*/
    max-height: 100vh;
    overflow: hidden;
    aspect-ratio: 1 / 2;  /*aspect ratio 10:20*/
    border: 1vh solid black;
    border-radius: 10% / 5%; /*1w / 2h*/
    box-sizing: border-box;

    background: var(--dark-gray-background);
    box-shadow: 5vh 2.5vh 5vh #000000aa;
    
    container-type: size;
}